@font-face { font-family: quizlet400; src: url('400.woff2'); }
@font-face { font-family: quizlet700; src: url('700.woff2'); }

::placeholder {
    color: #878fa3;
}

body {
    font-family: quizlet700;
    background-color: rgb(10, 9, 45);
    margin: 0;
}

main {
    max-width: 1220px;
    margin: auto;
}

input {
    border: none;
}

input:focus {
    border: none;
    outline: none;
}

/*-------------Navbar--------------*/
.navbar {
    display: flex;
    justify-content: space-between;
}

/* ---------Create Quiz------------ */

.info_container {
    display: flex;
    justify-content: space-between;
}

.text {
    font-size: 1.25rem;
    color: rgb(246, 247, 251);
    margin-top: 40px;
    margin-bottom: 40px;
}

.create_button {
    display: flex;
    align-items: center;
    background-color: rgb(66, 85, 255);
    color: #fff;
    width: 76px;
    height: 40px;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}

.create_button p {
    width: 100%;
    text-align: center;
}

.title {
    font-family: quizlet700;
    background-color: rgb(46, 56, 86);
    color: rgb(246, 247, 251);
    padding: 0%;
    max-width: 1220px;
    padding: 4px 2% 4px 2%;
    font-size: 16px;
    border-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    height: 48px;
}

.question {
    margin-top: 2.5vh;
}

.remove_button_container {
    background-color: rgb(46, 56, 86);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem 0.5rem 0 0;
}

.trash_can {
    width: 1.5rem;
    height: 1.5rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    cursor: pointer;
}

.siffra {
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.term_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 50px;
    padding: 2.5%;
    background-color: rgb(46, 56, 86);
    margin-top: 2px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.term_input {
    width: 47.5%;
    height: 1.5rem;
    font-size: 1rem;
    border-bottom: 2px solid white;
    border-top: 2px solid rgb(46, 56, 86);
    color: #f6f7fb;
    background-color: inherit;
    transition-duration: 150ms;
}

.term_input::placeholder {
    font-family: quizlet400;
}

.term_input:focus {
    border-top: 4px solid rgb(46, 56, 86);
    border-bottom: 4px solid #ffcd1f;
    transition-duration: 100ms;
}

.addremove_container {
    width: 100%;
    height: 80px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 56, 86);
    cursor: pointer;
    margin-top: 2.5vh;
}

.button {
    margin: 0;
    font-family: quizlet700;
    color: #fff;
    padding-bottom: 1vh;
    text-align: center;
    font-size: 16px;
    border-bottom: solid 5px rgb(60, 207, 207);
    transition-duration: 300ms;
}

.button:hover {
    color: rgb(255, 220, 98);
    border-color: rgb(255, 220, 98);
    transition-duration: 300ms;
}

/* ------------------Main page-------------------- */

.quiz_list {
    display: flex;
    flex-wrap: wrap;
}

.quiz {
    background-color: rgb(66, 85, 255);
    border-radius: 0.5rem;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.quiz_name {
    color: #ffff;
    text-align: center;
}

/* ----------------Flashcards-------------------- */

.flashcards_main {
    display: flex;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 100px;
    background-color: rgb(66, 85, 255);
    margin: 10px;
    border-radius: 0.5rem;
    transition-duration: 1s;
}

.card_flipped {
    transition-duration: 1s;
    transform: perspective(1000px) rotateX(180deg);
}

.term {
    color: white;
}

.term_flipped {
     transform: rotateX(180deg);
}